<kpc-container style="margin-top: var(--sl-spacing-4x-large);">
  <sl-card>
    <h1 slot="header">Welcome to your new app!</h1>
    <p>Feel free to play around!</p>

    <div slot="footer">
      <% if user_signed_in? %>
        <%= render "users/logout" %>
      <% else %>
        <%= render "users/login" %>
        <br>
        <%= render "users/signup" %>
      <% end %>

      <% if Rails.env.development? %>
        <br>
        <kpc-link href="<%= __design_docs_path %>">
          Design docs
        </kpc-link>
      <% end %>
    </div>
  </sl-card>
</kpc-container>
