@import '@shoelace-style/shoelace/dist/themes/light.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[hidden] {
  display: none !important;
}

button {
  cursor: pointer;
}
