<p><%= "#{t('hello')} #{@resource.email}" %>!</p>

<p><%= t("email.requested_password_change") %></p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t("email.requested_password_change_instructions") %></p>
