<kpc-form-group size="medium">
  <%= sl_password autocomplete: "new-password", **resource.form_fields(:password) do %>
    <label slot="label">
      <%= t("auth.new_password") %>
      <small>(<%= t("auth.no_change") %>) </small>
      <% if @minimum_password_length %>
        <br />
        <small><%= "#{@minimum_password_length} #{t('auth.minimum_characters')}" %> </small>
      <% end %>
    </label>
  <% end %>
</kpc-form-group>

