<kpc-form-group size="medium">
  <%= sl_password autocomplete: "current-password", **form_fields(resource, :current_password) do %>
    <label slot="label">
      <%= form_label(resource, :current_password) %> <small>(<%= t("auth.current_password_prompt") %>)</small>
    </label>
  <% end %>
</kpc-form-group>
