<%= render FormGroupComponent.new(error: error_for(resource, :current_password)) do %>
  <%= sl_password autocomplete: "current-password", **form_fields(resource, :current_password) do %>
    <label slot="label">
      <%= form_label(resource, :current_password) %> <small>(<%= t("auth.current_password_prompt") %>)</small>
    </label>
  <% end %>
<% end %>
