<kpc-form-group size="medium">
  <%= sl_password autocomplete: "current-password", **resource.form_fields(:current_password) do %>
    <label slot="label">
      <%= resource.form_label(:current_password) %> <small>(<%= t("auth.current_password_prompt") %>)</small>
    </label>
  <% end %>
</kpc-form-group>
