<kpc-form-group size="medium">
  <%= sl_password autocomplete: "new-password", **resource.form_fields(:password) do %>
    <label slot="label">
      <%= t("password") %>
      <% if @minimum_password_length %>
        <small>(<%= "#{@minimum_password_length} #{t("auth.minimum_characters")}" %>)</small><br />
      <% end %>
    </label>
  <% end %>
</kpc-form-group>

