<%= render FormGroupComponent.new do %>
  <%= sl_password autocomplete: "new-password",
                  "toggle-password": true,
                  **form_fields(resource, :password) do %>
    <label slot="label">
      <%= t("password") %>
      <% if @minimum_password_length %>
        <small>(<%= "#{@minimum_password_length} #{t("auth.minimum_characters")}" %>)</small><br />
      <% end %>
    </label>
  <% end %>
<% end %>

